                                
                                <form action="/edit>" method="POST"></form>
                                
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" style="width:250px" id="name" name="name" value="<%= user.name%>">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" style="width:250px" id="email" name="email" value="<%= user.email%>">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" style="width:250px" id="username" name="username" value="<%= user.username%>">
                                <label for="password">Password:</label>
                                <input type="text" class="form-control" style="width:250px" id="password" name="password" value="<%= user.password%>">

                                <button type="submit" class="btn btn-primary" style="width:275px">Update Account</button>


                            </form>

