<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Provo Digital Wellness</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/brain.png" rel="icon">
  <link href="/img/brain.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
          <h1><a>Provo Digital Wellness</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
          <ul class="nav-list">
              <li><a class="nav-link scrollto active" href="/">Home</a></li>
              <li><a class="nav-link scrollto" href="/survey">Survey</a></li>
              <li><a class="nav-link scrollto" href="/dashboard">Dashboard</a></li>
              <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
              <li><a class="getstarted scrollto" href="login">Log In</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="background: url('/img/homepage.jpg') center center; background-size: cover;">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Navigating Addictive Algorithms</h1>
        <h2 data-aos="fade-up">A commitment to mental wellness through social media understanding </h2>
        <div data-aos="fade-up" data-aos-delay="800">
          <a href="#about" class="btn-get-started scrollto">Learn more</a>
        </div>
      </div>
      <br>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-right" data-aos-delay="200">
      </div>
    </div>
  </div>

</section><!-- End Hero -->




  <main id="main">

    <!-- =======  Our Mission Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2> Our purpose with Provo</h2>
        </div>

        <div class="row ">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <h3>
              Our ongoing efforts to enhance our community:
            </h3>
            <ul>
              <li><i class=""></i></li>
              <li><i class=""></i></li>
              <li><i class=""></i></li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              At Provo Digital Wellness, our mission is to empower Provo, Utah residents to foster a healthier relationship with social media. 
              Through comprehensive surveys and evidence-based data, we aim to understand and address the unique mental health challenges faced by our 
              community. There's still considerable journey ahead, we encourage everyone to contribute. 
              We are committed to providing insightful, locally-relevant resources and strategies 
              that promote positive social media use, enhancing mental well-being and connectivity in a balanced, informed manner. 
              By engaging with our community, we strive to transform the digital landscape into a space of support, awareness, and 
              personal growth for all individuals in Provo.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->



 <!-- ======= Resources Section ======= -->
 <section id="more-services" class="more-services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Resources</h2>

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card" style='background-image: url("/img/findprovider.jpeg");' data-aos="fade-up" data-aos-delay="100">
          <div class="card-body">
            <h5 class="card-title"><a href="https://findtreatment.gov/locator">Find Utah County Mental Health Providers</a></h5>
            <p class="card-text"></p>
            <div class="read-more"><a href="https://findtreatment.gov/locator"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="card" style='background-image: url("/img/lala.jpeg");' data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title"><a href="https://988lifeline.org/chat/">Suicide and Crisis Lifeline</a></h5>
            <p class="card-text"> For immediate, free, confidential support.</p>
            <div class="read-more"><a href="https://988lifeline.org/chat/"><i class="bi bi-phone"></i> CALL 988</a></div>
            <div class="read-more"><a href="https://988lifeline.org/chat/"><i class="bi bi-chat-dots-fill"></i> CHAT </a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("/img/happy.jpeg");' data-aos="fade-up" data-aos-delay="100">
          <div class="card-body">
            <h5 class="card-title"><a href="https://www.thementalhealthcoalition.org/wp-content/uploads/2020/12/MHC_Roadmap_16-9_R2-1.pdf">Understanding Mental Health</a></h5>
            <p class="card-text">Mental health is often
              misunderstood. Here is some information to
              help demystify what we mean by 'mental
              health'. </p>
            <div class="read-more"><a href="https://www.thementalhealthcoalition.org/wp-content/uploads/2020/12/MHC_Roadmap_16-9_R2-1.pdf"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("/img/understanding.jpeg");' data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title"><a href="https://www.thementalhealthcoalition.org/howto/">How to Talk About Mental Health</a></h5>
            <p class="card-text">Tackling conversations on mental health requires a thoughtful approach. </p>
            <div class="read-more"><a href="https://www.thementalhealthcoalition.org/howto/"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- Resources Section -->




        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Frequently Asked Questions</h2>
            </div>
    
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Have I been fostering meaningful connections?</h4>
              </div>
              <div class="col-lg-7">
                <p>
                  While social media platforms are designed to foster connections and relationships, they sometimes lead to feelings of isolation and loneliness, which is a common experience among users.
                </p>
                <p>
                  To combat this, actively engage by reconnecting with old friends, commenting positively on posts, or joining interest-based online groups. This proactive approach can help make your social media experience more meaningful and genuinely social.
                </p>
              </div>
            </div><!-- End F.A.Q Item-->
    
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Is my late-night social media use impacting my sleep and energy levels?</h4>
              </div>
              <div class="col-lg-7">
                <p>
                  Using social media before sleep can harm your sleep quality. The screen's light and constant updates hinder falling asleep, causing restlessness and low energy the next day. To improve well-being, consider a sleep-friendly activity like reading a book instead of reaching for your phone at bedtime. This small shift can significantly boost your sleep quality and daily energy levels.
                </p>
              </div>
            </div><!-- End F.A.Q Item-->
    
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>How Can Digital Platforms Benefit Mental Health?</h4>
              </div>
              <div class="col-lg-7">
                <p>
                  Digital platforms, especially social media, provide a valuable space for connecting people over distances, acting as a safe haven for those with mental health issues to share experiences anonymously. This privacy reduces fear of judgment and criticism, fostering self-awareness and personal expression. However, social media's primary goal of combating social isolation can be counterproductive, as some individuals may use these platforms to conceal their true thoughts and emotions rather than for healthy self-expression.
                </p>
              
                
              </div>
            </div><!-- End F.A.Q Item-->
    
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
              <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>How Can I Build healthier habits with social media? </h4>
              </div>
              <div class="col-lg-7">
                <p>
                  To foster healthier social media habits, establish daily time limits, ensuring a balanced online presence. Prioritize meaningful interactions and engage in positive conversations. Regularly assess and unfollow accounts that may impact your mental health negatively. Incorporate intentional breaks from social media to promote a healthier digital relationship. These practices can contribute to overall well-being, as advised by a medical perspective.                </p>
              </div>
            </div><!-- End F.A.Q Item-->
    
            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
              <div class="col-lg-5">
                <i class="ri-question-line"></i>
                <h4>Is there a correlation between social media use and stress levels?
                </h4>
              </div>
              <div class="col-lg-7">
                <p>
                  Excessive social media use, particularly when engaging with stressful content, has been linked to heightened stress levels and negative mental health outcomes. Constant exposure to negative news and emotionally charged discussions can contribute to feelings of overwhelm and anxiety. Additionally, the pressure to maintain an idealized online persona, coupled with the fear of missing out, fosters a state of constant comparison and competition, exacerbating stress. 
                </p>
                <p>
                  To foster positive change, set clear time limits for social media, curate content mindfully by unfollowing stress-inducing accounts, and prioritize face-to-face interactions. Additionally, taking intentional breaks through digital detox and promoting positivity in online interactions contribute to a balanced and healthier relationship with social media.
                </p>
                
              </div>
            </div><!-- End F.A.Q Item-->
    
          </div>
        </section><!-- End F.A.Q Section -->

      <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="text-center">
          <div class="copyright">
            Provo Digital Wellness
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  </main><!-- End #main -->

 
  <a href="#" class="back-to-top d-flex align-items-center justify--center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>