<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Provo City</title>

    <!-- Favicons -->
    <!-- Favicons -->
  <link href="/img/brain.png" rel="icon">
  <link href="/img/brain.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Vesperr
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
  
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1><a href="">Provo Digital Wellness</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
        <nav id="navbar" class="navbar">
            <ul class="nav-list">
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/dashboard">Dashboard</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>

<!-- End Header -->





<body>
    <!-- ======= Form Section ======= -->
    <section id="form" class="form" style="margin-top: 50px;">
      <form action="/login" method="post" class="">
          <div class="container" >
              <div class="row justify-content-center">
                  <div class="col-lg-6 custom-border-form">
                  <h1 class="text-center mb-4">Login</h1>
          <div class="container" style="text-align: center;" >
                    <form action="/login" method="POST">
                      <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
                      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                      <br>
                      <br>
                      <div style="text-align: center;" >
                      <input type="submit" class="btn btn-secondary" value="Log In">
                    </div>
                    </form>
      <!-- <form action="/login" method="POST">
        <div class="form-group">
          <input type="text" id="username" class="form-control fadeIn second" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control fadeIn third" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary fadeIn fourth">Log In</button>
      </form> -->
      <!-- Remind Password -->
                    <div id="formFooter">
                      <a class="underlineHover" href="#">Forgot Password?</a>
                    </div>
                  </div>
                </div>
       </section>



  <!-- JavaScript code -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
